/* FUENTES TIPOGRAFICAS */
.fuente {
font-family: 'Roboto Condensed', sans-serif;
}

@font-face {
font-family: "FontAwesome";
src: url('../fonts/FontAwesome.otf');
src: url('../fonts/fontawesome-webfont.eot');
src: url('../fonts/fontawesome-webfont.eot?#iefix') format('eot'),
url('../fonts/fontawesome-webfont.woff') format('woff'),
url('../fonts/fontawesome-webfont.ttf') format('truetype'),
url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: "Roboto";
src:url('../fonts/Roboto-Condensed.ttf')format('truetype');
src:url('../fonts/Roboto-Regular.ttf')format('truetype');
}
/*BODY*/
html, body {
    position: relative;
    margin: auto; 
    padding: 0; 
    border: 0; 
    margin: 0;
    height: 100%; 
    font-family: 'Roboto Condensed', sans-serif;
    color: grey;
    background-color:white;
    text-align: center;
    min-width: 250px;
    /*background: linear-gradient(#ffffff, #f2f2f2);*/
    }
/* ESTILOS PRINCIPALES */
label {
 color:  #f2f2f2; 
 font-size: 25px; 
 text-indent:0.5cm;
font-family: 'Roboto Condensed', sans-serif;
}
a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 20px;
    color: grey; 
    display: block;
    transition: 0.3s;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    text-align: left;
    /*border-bottom: 1px solid dimgrey;*/
}
 a:hover, a:focus{
     background: #f2f2f2;
     color: grey;  
     text-decoration: none;
}

#tab {
color:  #f2f2f2;  
background: #336699; 
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
table {
    border-collapse: collapse;
    color: dimgrey;
    table-layout: fixed;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
.container{
    padding-right: 0px; 
    padding-left: 0px; 
    margin-right: 0; 
    margin-left: 0; 
    min-width: none;
    width: auto;
}
/*Card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.container {
  /*padding: 0 16px;*/
}

.container::after {
  content: "";
  clear: both;
  display: table;
}
/*List*/
* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul li:nth-child(odd) {
  background: #f9f9f9;
}
ul li:hover {
  background: #ddd;
}
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
i {
    letter-spacing: 10px;
}
#help {
    text-align-last: left;
}