/* FUENTES TIPOGRAFICAS */
.fuente {
font-family: 'Roboto Regular', sans-serif;
}

@font-face {
font-family: "FontAwesome";
src: url('../fonts/FontAwesome.otf');
src: url('../fonts/fontawesome-webfont.eot');
src: url('../fonts/fontawesome-webfont.eot?#iefix') format('eot'),
url('../fonts/fontawesome-webfont.woff') format('woff'),
url('../fonts/fontawesome-webfont.ttf') format('truetype'),
url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: "Roboto";
src:url('../fonts/Roboto-Condensed.ttf')format('truetype');
src:url('../fonts/Roboto-CondensedItalic.ttf')format('truetype');
src:url('../fonts/Roboto-Italic.ttf')format('truetype');
src:url('../fonts/Roboto-Light.ttf')format('truetype');
src:url('../fonts/Roboto-LightItalic.ttf')format('truetype');
src:url('../fonts/Roboto-Medium.ttf')format('truetype');
src:url('../fonts/Roboto-MediumItalic.ttf')format('truetype');
src:url('../fonts/Roboto-Regular.ttf')format('truetype');
}

/*BODY*/
html, body {
    font-family: 'Roboto Regular', sans-serif;
    position: relative;
    margin: auto; 
    padding: 0; 
    border: 1; 
    height: 100%; 
    background-color:white;
    }
    body { 
font-family: 'Roboto Condensed', sans-serif;
color: grey;
background-color:white;
}
/* ESTILOS PRINCIPALES */
.container .text-muted {
  margin: 20px 0;
  text-align: center;
  color: white;
}
body > .container { 
padding: 60px 15px 0; 
}
label {
 color:  #f2f2f2; 
 font-size: 25px; 
 text-indent:0.5cm;
 font-family: 'Roboto Regular', sans-serif;
}
a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: grey; 
    display: block;
    transition: 0.3s;
    font-family: 'Roboto Regular', sans-serif;
    text-decoration: none;
}
 a:hover, a:focus{
     background: #f2f2f2;
     color: grey;  
     text-decoration: none;
}
#tab {
color:  #f2f2f2;  
background: #696969; 
}
table {
    border-collapse: collapse;
    color: dimgrey;
    table-layout: fixed;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

