/* FUENTES TIPOGRAFICAS */
.fuente {
font-family: 'Roboto Condensed', sans-serif;
}

@font-face {
font-family: "FontAwesome";
src: url('../fonts/FontAwesome.otf');
src: url('../fonts/fontawesome-webfont.eot');
src: url('../fonts/fontawesome-webfont.eot?#iefix') format('eot'),
url('../fonts/fontawesome-webfont.woff') format('woff'),
url('../fonts/fontawesome-webfont.ttf') format('truetype'),
url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: "Roboto";
src:url('../fonts/Roboto-Condensed.ttf')format('truetype');
src:url('../fonts/Roboto-Regular.ttf')format('truetype');
}
/*BODY*/
html, body {
    position: relative;
    margin: auto; 
    padding: 0; 
    border: 0; 
    margin: 0;
    height: 100%; 
    font-family: 'Roboto Condensed', sans-serif;
    color: grey;
    background-color:white;
    
    }
/* ESTILOS PRINCIPALES */
label {
 color:  #f2f2f2; 
 font-size: 25px; 
 text-indent:0.5cm;
font-family: 'Roboto Condensed', sans-serif;
}
a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: grey; 
    display: block;
    transition: 0.3s;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    /*border-bottom: 1px solid dimgrey;*/
}
 a:hover, a:focus{
     background: #f2f2f2;
     color: grey;  
     text-decoration: none;
}

#tab {
color:  #f2f2f2;  
background: #336699; 
}
table {
    border-collapse: collapse;
    color: dimgrey;
    table-layout: fixed;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
.container{
    padding-right: 0px; 
    padding-left: 0px; 
    margin-right: 0; 
    margin-left: 0; 
    min-width: none;
    width: auto;
}
