/*Fuentes*/
@font-face {
font-family: "FontAwesome";
src: url('../fonts/FontAwesome.otf');
src: url('../fonts/fontawesome-webfont.eot');
src: url('../fonts/fontawesome-webfont.eot?#iefix') format('eot'),
url('../fonts/fontawesome-webfont.woff') format('woff'),
url('../fonts/fontawesome-webfont.ttf') format('truetype'),
url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: "Roboto";
src:url('../fonts/Roboto-Condensed.ttf')format('truetype');
src:url('../fonts/Roboto-Regular.ttf')format('truetype');
}
/*General*/
html, body {
    position: relative;
    margin: 0; 
    padding: 0; 
    border: 0; 
    margin: 0;
    height: 100%; 
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    background-color:white;
    text-align: center;
    min-width: 250px;
}
/*Enlaces*/
a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: grey; 
    display: flex;
    transition: 0.3s;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    text-align: justify;
}
 a:hover, a:focus{
     /*background: #f2f2f2;*/
     color: grey;
     text-decoration: none;
}
/*Entradas*/
input {
    margin: 3px;
	padding: 10px 10px;
	border: 2px solid silver;
    border-radius: 10px;
	border-style: solid;
	background-color: #F0F3F4;
	font-family: 'Roboto Condensed', sans-serif;  
}
/* PARRAFOS */
p {
	color: #595959; 
	padding: 5px 10px;
	text-align: center;
}