/*Fuentes*/
@font-face{
font-family: "Roboto";
src:url('../fonts/Roboto-Condensed.ttf')format('truetype');
src:url('../fonts/Roboto-Regular.ttf')format('truetype');
}
/*General*/
html, body {
    position: relative;
    margin: 0; 
    padding: 0; 
    border: 0; 
    margin: 0;
    height: 100%; 
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    background-color: white;
    text-align: center;
    min-width: 250px;
}
/*Enlaces*/
a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: grey; 
    display: flex;
    transition: 0.3s;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    text-align: justify;
}
 a:hover, a:focus{
     /*background: #f2f2f2;*/
     color: grey;
     text-decoration: none;
}
/*Entradas*/
input {
    margin: 3px;
	padding: 8px 8px;
	border: 2px #336699;
    border-radius: 10px;
	border-style: solid;
	background-color: #FFF;
	font-family: 'Roboto Condensed', sans-serif;  
}
/* SELECTORES */
select {
    margin: 3px;
	padding: 7px 7px;
	border: 2px #336699;
    border-radius: 10px;
	border-style: solid;
	background-color: #FFF;
	font-family: 'Roboto Condensed', sans-serif;  
}
}
/* PARRAFOS */
p {
	color: #595959; 
	padding: 5px 5px;
	text-align: center;
}
/*List*/
* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  position: relative;
  font-size: 14px;
  transition: 0.2s;
}
.ayuda_parrofo{
    text-align: justify;
	padding: 5px 5px;
}
.about_us{
    text-align: justify;
}
.ayuda_funda{
   text-align: justify; 
}