@import url(../css/Fuente_Principal.css);
/* ESTILOS PRINCIPALES */
body > .container { 
padding: 60px 15px 0; 
}
label {
 color:  #f2f2f2; 
 font-size: 25px; 
 text-indent:0.5cm;
 font-family: 'Roboto Regular', sans-serif;
}
a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: grey; 
    display: block;
    transition: 0.3s;
    font-family: 'Roboto Regular', sans-serif;
}
 a:hover, a:focus{
     background: #cccccc; 
     color: grey;  
}
#tab {
    color:  #f2f2f2;  
   background: #696969; 
}

input {
	padding: 5px 10px;
	border: 2px solid silver;
    border-radius: 8px;
	border-style: solid;
	background-color: #F0F3F4;
	font-family: 'Roboto Condensed', sans-serif;  
}
p {
	color: #595959; 
	padding: 5px 10px;
	text-align: center;
}
em{
    text-align: justify;
}
h1 {
	color: #595959; 
	padding: 20px;
	text-align: center;
}
h2, h3,h4, h5,h6{
	color: #595959; 
	text-align: center;
}

#costo, #unidades, #costo1 {
	text-align: center;
}
