<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Productividad Multifactorial Simple</title>

<link rel="stylesheet" href="../css/bootstrap.min.css">
<link href="../css/font-awesome.min.css" rel="stylesheet">
<link href="../css/Scrollmenu.css" rel="stylesheet"> 
<link href="../css/Card.css" rel="stylesheet">
<link href="../css/Accordion.css" rel="stylesheet">
<link href="../css/SideNav.css" rel="stylesheet">
<link href="../css/Metodos.css" rel="stylesheet">

<script src="../js/jquery-3.2.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

</head>
    
<body>
    
<!--Modos-->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#8592;</a>
    <div class="card">
    <img src="../images/methods.png" alt="Methods" style="width:100%">
    </div>
    <a href="../index.html">Pagina Principal</a>
    <a href="Productividad.html">Productividad</a>  
	<a href="#">Hombre Maquina</a>
	<a href="#">Balance de Lineas</a>   
	<a href="#">Muestreo de trabajo</a>
	<hr>
	<p></p>
	<a href="Ayuda.html"><span class="glyphicon glyphicon-question-sign"></span>Ayuda</a>
	<a href="Acerca_de.html"><span class="glyphicon glyphicon-info-sign"></span>Acerca de</a>
    <a href="Terminos.html"><span class="glyphicon glyphicon-list-alt"></span>Terminos y Condciones</a>
</div>
<a id="tab" style="font-size:30px;cursor:pointer" onclick="openNav()">&#8801;<label>Methods</label></a>
    
<div ng-app="myApp" ng-controller="myCtrl">

<button ng-click="myFunc()">Click Me!</button>
<button ng-click="myFunc1()">Click Me!</button>

<div ng-show="showMe1">
    <h3>Tranformaciones</h3>
    <form method="POST" action="nada.html" id="trans">
	<div id="Transformaciones">
    <input type="number" class="Numero_de_Unidades" value="0" required/><br/>
	</div>
    <p>Resultado</p>
    <span>Multiplicando</span>
    <input type="number" id="Resultado_Multi" value="0" disabled/><br/>
    <span>Dividiendo</span>
    <input type="number" id="Resultado_Divi" value="0" disabled/><br/>
    <p>Agregar/Calcular</p>
	<input type="button" value="Nueva l&iacute;nea" onclick="Nueva_Linea_Trans()"/>
	<input type="button" value="Calcular Multiplicacion" onclick="Multiplicando()"/>
    <input type="button" value="Calcular Division" onclick="Dividiendo()" disabled/>
    <input type="button" value="Limpiar" onclick="Limpiar_Trans()">
    </form>
</div>
    
<div ng-show="showMe">
    <h3>Costos Totales</h3>
<form method="POST" action="nada1.html" id="costos">
	<div id="Costos_Linea">
        <input type="number" class="costos_totales" value="0" required/><br/>
	</div>
    <p>Resultado</p>
    <input type="number" id="costo_total" value="0" disabled/><br/>
    <p>Agregar/Calcular Costos</p>
	<input type="button" value="Nueva l&iacute;nea" onclick="Nueva_Linea_Costo()"/>
	<input type="button" value="Calcular" onclick="Costos_Totales()"/>
     <input type="button" value="Limpiar" onclick="Limpiar_costos()">
</form>
</div>

</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.showMe = false;
    $scope.myFunc = function() {
    $scope.showMe = !$scope.showMe;
    }
    $scope.myFunc1 = function() {
    $scope.showMe1 = !$scope.showMe1;
    }
});
</script>

<p>Click the button to show/hide the menu.</p>
    
<script src="../js/SideNav.js"></script>
<script src="../js/Accordion.js"></script>   
<script src="../js/Productividad.js"></script>


</body>
    
</html>